.venv/
.idea/
node_modules/
frontend_react/node_modules/

biryani.jpg
cake.jpg
sample_food.jpg

ml_model/1hour_data/
ml_model/combined_dataset/
ml_model/combined_dataset_full_backup/
ml_model/dataset/
ml_model/temp_train/
ml_model/temp_val/

ml_model/best_model_32.keras
ml_model/best_model_7_foods.keras
ml_model/food_model.keras
ml_model/food_model_32.keras
ml_model/food_model_90percent_final.keras
ml_model/food_model_BACKUP.keras
ml_model/food_model_7_foods.keras